<div class="cookie-banner" id="cookieBanner">
    <div class="container cookie-banner__inner">
        <p class="cookie-banner__text">
            Utilizamos cookies en este sitio para mejorar su experiencia de usuario.
            Al hacer clic en Aceptar, usted consiente su uso.
            <a href="{{ site.cookie_policy | relative_url }}">Más información sobre nuestra política de cookies</a>
        </p>

        <div class="cookie-banner__actions">
            <button class="button is-primary is-small" onclick="acceptCookies()">Aceptar todas las cookies</button>
            <button class="button is-outlined is-small" onclick="rejectCookies()">Rechazar todas las cookies</button>
        </div>
    </div>

    <script>
        function acceptCookies() {
            {% if site.google_analytics %}
                consentGrantedAdStorage();
            {% endif %}
            Cookies.set('showCookieBanner', 'false', { expires: 7, path: '/' });
            Cookies.set('cookiesAccepted', 'true', {expires: 7, path: '/'});
            toggleCookieBanner();
        }

        function rejectCookies() {
            Cookies.set('showCookieBanner', 'false', { expires: 7, path: '/' });
            toggleCookieBanner();
        }

        function toggleCookieBanner() {
            var showBanner = Cookies.get('showCookieBanner');
            var banner = document.getElementById('cookieBanner');

            if (showBanner === 'false') {
                banner.setAttribute('style', 'display: none;');
            } else {
                banner.setAttribute('style', 'display: block;');
            }
        }

        toggleCookieBanner();
    </script>
</div>
